# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours
- Insert a markdown cell to list Objectives
- Create a markdown cell to indicate the Author's name
- Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|------------|
| Jupyter Notebooks |
| VS Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [26]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Yuwen Weng